.nodes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4px 7px;
}

.node span {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #159d8a;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px 1px #00000038;
}


.node > .children {
    display: flex;
    justify-content: center;
    align-items: baseline;
}