@use("layouts/main")

@insert("content")
    <div class="section">
        <div class="center"><h4>Currency</h4></div>

        {{-- Currency block --}}
        <div class="section">
            <div class="row">
                @each(c in currency)
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-content" style="padding:10px 20px">
                                <p class="card-title">{{ c.title }}</p>
                                <p>Buy: <b>{{ c.buy }}</b></p>
                                <p>Sail: <b>{{ c.sale }}</b></p>
                            </div>
                        </div>
                    </div>
                @end
            </div>
        </div>
    </div>

    {{-- Books section --}}
    <div class="section">
        <div class="center"><h4>Books {{ books.len() }}</h4></div>

        <div class="section">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Isbn</th>
                        <th>Author</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @each(b in books)
                        @component("~book", { b })
                    @end
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <div class="center"><h4>Authors {{ authors.len() }}</h4></div>

        <div class="section">
            <table class="striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @each(a in authors)
                        @component("~author", { a })
                    @end
                </tbody>
            </table>
        </div>
    </div>
@end