{{template "header"}}

<ul class="collection">
    {{range $key, $book := .Books}}
        <li class="collection-item">
            <a href="#">{{$book.Title}}</a>
        </li>
    {{end}}
</ul>

{{template "footer"}}
