<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>CRUD</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper purple darken-3">
            <div class="container">
                <a href="/" class="brand-logo">CRUD</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Add new book</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="collection">
            {{range $key, $book := .Books}}
                <li class="collection-item">
                    <a href="#">{{$book.Title}}</a>
                </li>
            {{end}}
        </ul>
    </div>
</body>

</html>