<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@reserve("title")</title>
</head>
<body style="margin: 0">
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <div style="padding: 10px;">
        @reserve("content")

        @if(x == 1)
            <p>x is 1</p>
        @elseif(x == 2)
            <p>x is 2</p>
        @else
            <p>x is not 1 and 2</p>
        @end

        {{ names = ["Ann", "Serhii"] }}

        @for(i = 0; i < names.len(); i++)
            <p>{{ names[i] }}</p>
        @else
            <p>No names</p>
        @end
    </div>

    {{ names = ["Ann", "Serhii", "Vladimir"] }}

    <ul>
        @for(i = 0; i < names.len(); i++)
            @continueIf(names[i] == "Serhii")
            <li>{{ names[i] }}</li>
        @end
    </ul>

    {{ names = ["Ann", "Serhii"] }}

    @each(name in names)
        <p>{{ name }}</p>
    @else
        <p>No names</p>
    @end

    {{ x = 5 }}
    {{ x = 10 }}

    {{ names = ["Ann", "Serhii", "Vladimir"] }}

    <ul>
        @each(name in names)
            <li>{{ loop.iter }}: {{ name }}</li>
        @end
    </ul>

    {{ names = ["Ann", "Serhii", "Vladimir"] }}

    <ul>
        @each(name in names)
            @breakIf(name == "Serhii")
            <li>{{ name }}</li>
        @end
    </ul>

    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>

    <div class="posts">
        @each(post in posts)
            @component("components/post-card", { post })
        @end
    </div>

    <ul>
        @each(book in books)
            @component("parts/book", { completed: book.completed })
        @end
    </ul>

    <span>{{ x == 1 ? "yes" : "no" }}</span>

    <span>{{ !isTall ? "Not tall" : "Is tall" }}</span>
    <span>{{ -x }}</span>

    <ul>
        <li>{{ x + y }}</li> <!-- Addition -->
        <li>{{ x - y }}</li> <!-- Subtraction -->
        <li>{{ x * y }}</li> <!-- Multiplication -->
        <li>{{ x / y }}</li> <!-- Division -->
        <li>{{ x % y }}</li> <!-- Modulo -->
        <li>{{ (x + 2) / (y * (4 - c)) }}</li> <!-- Grouped expressions -->
    </ul>

    @if(x == 1)
        <p>x is 1</p>
    @end

    {{ name.split(" ") }}

    {{ "Hello" + 'World!' }}

    @if(false)
        <p>It will not be displayed</p>
    @end

    {{ names = ["John", "Jane", "Jack"] }}

    <ul>
        @each(name in names)
            <li>{{ name }}</li>
            <li>{{ loop.index }}</li> <!-- Index of the current item -->
        @end
    </ul>

    {{ names = ["John", "Jane", "Jack"] }}

    <ul>
        <li>{{ names[0] }}</li> <!-- "John" -->
        <li>{{ names[1] }}</li> <!-- "Jane" -->
        <li>{{ names[2] }}</li> <!-- "Jack" -->
    </ul>
</body>
</html>

{{ person = {"name": "John", "age": 25} }}
{{ person = { name: "John", age: 25 } }}

{{ user = {age: 25, name: {first: "Anna", last: "Cho"}} }}

<ul>
    <li>First name: {{ user.name.first }}</li> <!-- "Anna" -->
    <li>Last name: {{ user.name.last }}</li> <!-- "Cho" -->
    <li>Age: {{ user.age }}</li> <!-- 25 -->
</ul>

{{ name = "John"; age = 25; person = { name, age } }}