[Desktop Entry]
Encoding=UTF-8
Name=Link to How do I create a Programming Language? #1 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=_PlRmlYEHRo
Icon=text-html
Name[en_US]=How do I create a Programming Language?
