{{template "header"}}

<div class="section">
    <div class="center"><h4>Currency</h4></div>

    <div class="section">
        <div class="row">
            {{range .currency}}
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-content" style="padding:10px 20px">
                            <p class="card-title">{{.Title}}</p>
                            <p>Buy: <b>{{.Buy}}</b></p>
                            <p>Sail: <b>{{.Sale}}</b></p>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
</div>

<div class="section">
    <div class="center"><h4>Books {{len .books}}</h4></div>

    <div class="section">
        <table class="striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Isbn</th>
                    <th>Author</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{range .books}}
                <tr>
                    <td>{{.Title}}</td>
                    <td>{{.Isbn}}</td>
                    <td>{{.Author.FirstName}} {{.Author.LastName}}</td>
                    <td><a href="/books/{{.ID}}/edit" class="btn btn-small">Edit</a></td>
                    <td>
                        <form action="/books/delete" method="post">
                            <input type="hidden" name="book" value="{{.ID}}">
                            <button type="submit" class="btn red darken-2 btn-small">Delete</button>
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

{{template "footer"}}