<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>CRUD</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper red darken-1">
            <div class="container">
                <a href="/" class="brand-logo">CRUD {{.Page}}</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/books/create">Create book</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @reserve("content")
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>