<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/process" method="POST">
        <p>
            <label for="wrap">Wrap by</label> 
            <input type="number" id="wrap" name="wrap" value="10">
        </p>
        <p>
            <textarea type="text" name="text" style="min-width:500px;min-height:400px;"></textarea>
        </p>
        <button type="submit">Submit the form</button>
    </form>
</body>
</html>