name: llama

services:
    app:
        build: .
        volumes:
            - .:/app:z
            - /home/serhii/Downloads/Llama-3.2-1B:/model:z
        tty: true
        stdin_open: true
        restart: unless-stopped
